(% extends '/layouts/default.html' %)
(% block body %)
<div id="app">

    (% include 'navigation.html' %)
    (% include 'messageModal.html' %)

    <header>
        <div class="row">
          <div class="col-sm-8">
                (% if status == 'calendar' %)
                (% include 'calendar.html' %)
                (% elif images%)
                (% include 'carousel.html' %)
                (% endif %)
            </div>
        <!--<div style="position:fixed;top:10%;bottom:0%;right:0%;z-index:9999;background-color: rgba(0, 0, 0, 0.7);padding:50px;color:white;width:30%">-->

          <div class="col-sm-4">
              <div style="margin-top:20%;"></div>
               <!--Message Widget-->
            (% for message in messages %)
            (% include 'message.html' %)
            (% endfor %)

            <!--Weather Widget-->
            (% for weather in weather_data %)
            (% include 'weather.html' %)
            (% endfor %)
          </div>
        </div>
    </header>

    (% include 'bottom.html' %)
</div>
(% endblock body %)
