<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta name="description" content="Web app for dynamic screen presentations">
    <meta name="author" content="Sogetilabs">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Sogetilabs</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/static/css/fullcalendar.min.css" rel='stylesheet'/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <!-- Custom styles for this template -->
    <link href="/static/css/full-slider.css" rel="stylesheet">

  </head>

  <body>
  (% block body %)(% endblock %)
      <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Sogetilabs 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript">$SCRIPT_ROOT = (( request.script_root|tojson|safe ));</script>
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/bootstrap.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src='/static/js/moment.min.js'></script>
    <script src="((url_for('static', filename='js/fullcalendar.js')))"></script>
    <script src="((url_for('static', filename='js/script.js')))"></script>
    <!--<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script >-->
    <script>
       var eventsArray = [];
      (% if my_events %)
      (% for event in my_events %)
      var title = '((event.title))';
      var start = '((event.start))';
      var end = '((event.end))';
      eventsArray.push({ title: title, start: start, end: end });
      (% endfor %)
      $('#calendar').fullCalendar({
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,basicWeek,basicDay'
              },
              defaultDate: '((now))',
              navLinks: true, // can click day/week names to navigate views
              editable: true,
              eventClick: function(calEvent, jsEvent, view) {
                 var delete_event = calEvent.title;
                 if (confirm("Voulez-vous supprimer cet èvenement : "+delete_event+" ?")) {
                    $.getJSON($SCRIPT_ROOT + '/delete_event', {delete_event:delete_event},
                          function (feedback)
                          {
                              if (feedback == 'Deleted')
                              {
                                 console.log('ok');
                              }
                              else
                              {
                                  console.log('ko');
                              }
                          });
                    location.reload();
                } else {
                    // Do nothing!
                }
              },
              eventLimit: true, // allow "more" link when too many events
              events: eventsArray
          });
    (% endif %)
    </script>
  </body>
</html>
